@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --pale-orange: hsl(10, 100%, 76%);
    --white: #fff;
    --expenses-card-bg: hsl(38, 100%, 98%);
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.d-flex {
    display: flex;
    align-items: center;
}

.charts,
.user_balance,
.monthly_analysis {
    justify-content: space-between;
}

.card {
    border-radius: 15px;
    padding: 20px;
}

.balance p,.value,.chart_bar,.percentage_diff h2 {
  margin-bottom: 10px;
}

.chart_bar,
.value {
  transition: 0.5s ease;
}

h1{
  font-weight: 700;
}

img{
  object-fit: cover;
}
/* --------------------------------------------------------------- */

.container {
  justify-content: center;
  background: var(--Cream);
  width: 100%;
  height: 100%;
}

.expenses_chart_wrapper {
  width: 600px;
}

.user_balance {
  background: var(--Soft-red);
  color: var(--white);
  margin-bottom: 50px;
}


.expenses_chart_card {
  background: var(--expenses-card-bg);
}

.stats h2 {
  margin-bottom: 50px;
  color: var(--Dark-brown);
  font-weight: 700;
  font-size: 1.8rem;
}

.stats {
  border-bottom: var(--Cream) solid .5px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.charts {
  align-items: flex-end;
}

.chart {
  flex-direction: column;
}

.chart_bar,
.value {
  border-radius: 5px;
}

.value {
  background: var(--Dark-brown);
  color: var(--white);
  padding: 15px;
  width: 65px;
  justify-content: center;
  opacity: 0;
}

.value.hovered {
  opacity: 1;
  transform: translateY(-5px);
}

.chart_bar {
  width: 50px;
  justify-self: flex-end;
  cursor: pointer;
}


.soft-red{
  background: var(--Soft-red);
}

/* chart-bar for chart-bar, so chart-bar-1, chart-bar-1 and so on */
.chart-bar-1 {
  height: 40px;
}

.chart-bar-2 {
  height: 80px;
}

.chart-bar-3 {
  height: 120px;
  background: var(--Cyan);
}

.chart-bar-4 {
  height: 70px;
  background: var(--pale-orange);
}

.chart-bar-5 {
  height: 50px;
}

.chart-bar-6 {
  height: 110px;
}

.chart-bar-7 {
  height: 75px;
}

.balance.monthly h1,
.percentage_diff h2 {
  color: var(--Dark-brown);
  font-weight: 700;
}

.percentage_diff h2{
  text-align: end;
  font-size: 1.1rem;
}

.percentage_diff p,.day {
  color: var(--Medium-brown);
}

/* On smaller screens */
@media (max-width: 520px) {
  .value {
    width: 40px;
    font-size: .7rem;
    padding: 5px;
  }

  .chart_bar {
    width: 35px;
  }
}

@media (max-width: 630px) {
  .container {
    padding: 0 20px;
  }
  .expenses_chart_wrapper {
    width: 100%;
  }
}
